{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tittle</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Roboto&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
  <header class="header">
    <div class="section section--bgColor_blue">
      <div class="container">
        <div class="row--lg">
          <div class="cell cell--12 cell--6_lg cell--center cell--left_lg">
            <div class="cell cell--4_lg cell--top cell--bot cell--center">
              <p class="caption caption--white caption--weight">greatketra.com</p>
            </div>
          </div>
          <div class="cell cell--12 cell--6_lg cell--center cell--left_lg">
            <div class="row--lg row--end_lg">
              <div class="cell cell--2_lg cell--hover_blue cell--top cell--bot cell--center">
                <a href="#">
                  <p class="caption caption--white">FAQ</p>
                </a>
              </div>
              <div class="cell cell--2_lg cell--hover_blue cell--top cell--bot cell--center">
                <a href="enter.html">
                  <p class="caption caption--white">Вход</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="section section--bgColor_blue">
    <div class="slider">
      <div class="section section--high">
        <img class="card" src="{% static 'img/ex.jpg' %}" alt="" />
      </div>
      <div class="section section--high">
        <img class="card" src="{% static 'img/ex1.jpg' %}" alt="" />
      </div>
      <div class="section section--high">
        <img class="card" src="{% static 'img/ex2.jpg' %}" alt="" />
      </div>
      <div class="section section--high">
        <img class="card" src="{% static 'img/ex3.jpg' %}" alt="" />
      </div>
      <div class="section section--high">
        <img class="card" src="{% static 'img/ex4.jpg' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="section section--bgColor_white section--offset_top_small section--offset_bot_small">
    <div class="container">
      <nav class="menu menu_lg">
        <ul class="row--lg row--center">
          <li>
            <div class="cell cell--center">
              <a class="navbar" href="index.html">
                <p class="caption caption--blue caption--uppercase">
                  Главная
                </p>
              </a>
            </div>
          </li>
          <li>
            <div class="cell cell--center">
              <a class="navbar" href="#">
                <p class="caption caption--blue caption--uppercase">
                  navbar
                </p>
              </a>
            </div>
          </li>
          <li>
            <div class="cell cell--center">
              <a class="navbar" href="#">
                <p class="caption caption--blue caption--uppercase">
                  navbar
                </p>
              </a>
            </div>
          </li>
          <li>
            <div class="cell cell--center">
              <a class="navbar" href="#">
                <p class="caption caption--blue caption--uppercase">
                  navbar
                </p>
              </a>
            </div>
          </li>
          <li>
            <div class="cell cell--center">
              <a class="navbar" href="#">
                <p class="caption caption--blue caption--uppercase">
                  navbar
                </p>
              </a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <hr style="
        height: 5px;
        border: 0px solid #274684;
        border-top-width: 5px;
        opacity: 0.5;
      " />
  <div class="section section--bgColor_white">
    <div class="row--lg">
      <div class="cell cell--12 cell--6_lg cell--top_lg cell--left_lg">
        <div class="row--lg">
          <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_1">
            <div class="tile--text">
              <p class="caption caption--white">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum magni nam nulla recusandae quae molestiae eaque libero
                repudiandae est tempora.
              </p>
            </div>
          </div>
          <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_2">
            <div class="tile--text">
              <p class="caption caption--white">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum magni nam nulla recusandae quae molestiae eaque libero
                repudiandae est tempora.
              </p>
            </div>
          </div>
          <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_3">
            <div class="tile--text">
              <p class="caption caption--white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
                harum.
              </p>
            </div>
          </div>
        </div>
        <div class="section section--offset_top_small">
          <div class="row--lg">
            <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_4">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
            <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_5">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
            <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_6">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="section section--offset_top_small">
          <div class="row--lg">
            <div class="cell--12 cell--4_lg cell--right_lg cell--right_lg tile tile--bg_7">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
            <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_8">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
            <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_9">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell cell--12 cell--6_lg">
        <img style="width: 130%; height: auto;" src="img/hero1.png" alt="" />
      </div>
    </div>
  </div>
  <div class="section section--bgColor_grad section--offset_bot_small">
    <div class="row--lg">
      <div class="cell cell--12 cell--6_lg">

      </div>
      <div class="cell cell--12 cell--6_lg cell--top_lg cell--left_lg">
        <div class="row--lg">
          <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_10">
            <div class="tile--text">
              <p class="caption caption--white">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum magni nam nulla recusandae quae molestiae eaque libero
                repudiandae est tempora.
              </p>
            </div>
          </div>
          <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_11">
            <div class="tile--text">
              <p class="caption caption--white">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum magni nam nulla recusandae quae molestiae eaque libero
                repudiandae est tempora.
              </p>
            </div>
          </div>
          <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_12">
            <div class="tile--text">
              <p class="caption caption--white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
                harum.
              </p>
            </div>
          </div>
        </div>
        <div class="section section--offset_top_small">
          <div class="row--lg">
            <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_13">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
            <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_14">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
            <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_15">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="section section--offset_top_small">
          <div class="row--lg">
            <div class="cell--12 cell--4_lg cell--right_lg cell--right_lg tile tile--bg_16">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
            <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_17">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
            <div class="cell--12 cell--4_lg cell--right_lg tile tile--bg_18">
              <div class="tile--text">
                <p class="caption caption--white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa, harum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
  <script src={% static 'js/main.js' %}></script>
</body>

</html>