* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #09295a;
}
.navbar:hover {
  color: #09295a;
  text-decoration: underline;
}
.row {
  display: flex;
}
.row--center {
  justify-content: center;
  text-align: center;
}
.row--block {
  display: block;
}
.caption {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.caption--white {
  color: white;
}
.caption--blue {
  color: #274684;
}
.caption--blueM {
  color: #274684;
}
.caption--uppercase {
  text-transform: uppercase;
}
.caption--weight {
  font-weight: 600;
}
.caption--size {
  font-size: 30px;
}
.cell {
  padding: 0;
  transition: 0.4s;
}
.cell--2 {
  width: calc(8.33% * 2);
}
.cell--3 {
  width: calc(8.33% * 3);
}
.cell--4 {
  width: calc(8.33% * 4);
}
.cell--5 {
  width: calc(8.33% * 5);
}
.cell--6 {
  width: 50%;
}
.cell--7 {
  width: calc(8.33% * 7);
}
.cell--8 {
  width: calc(8.33% * 8);
}
.cell--9 {
  width: calc(8.33% * 9);
}
.cell--10 {
  width: calc(8.33% * 10);
}
.cell--11 {
  width: calc(8.33% * 11);
}
.cell--12 {
  width: 100%;
}
.cell--top {
  padding-top: 15px;
}
.cell--bot {
  padding-bottom: 15px;
}
.cell--center {
  text-align: center;
}
.cell--right {
  padding-right: 110px;
}
.cell--hover_blue:hover {
  background-color: #95B1D9;
  transition: 0.4s;
}
.cell--enter {
  padding-left: 30%;
  padding-right: 30%;
}
.cell--padding {
  padding:10px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.cell--shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.cell--bottom {
  margin-bottom: 10px;
}
.hei {
  height: 30px;
  padding-top: 3px;
}
body {
  background-color: #edeef0;
}
.section {
  margin: 0;
}
.section--high {
  width: 100%;
  height: 700px;
}
.section_bgColor_white {
  background-color: #edeef0;
}
.section--bgColor_blue {
  background-color: #274684;
}
.section--bgColor_blueOp {
  background: rgba(39, 70, 132, 0.4);
}
.section--bgColor_gray {
  background: rgba(112, 159, 220, 0.4);
  border-radius: 5px;
}
.section--bgColor_grad {
  background-image: linear-gradient(
    to left,
    rgba(237, 238, 240, 1),
    rgba(112, 158, 219, 0.9)
  ); 
}
.section--bgColor_gradEn {
  background-image: linear-gradient(
    to left,
    rgba(237, 238, 240, 1),
    rgba(112, 158, 219, 0.9)
  ); 
  border:1px solid #274684;
}
.section--bgColor_lightBlue {
  background-color: #4C6C9D;
  border:2px solid #09295a;
  border-radius: 5px;
} 
.section--bgColor_lightBlueM {
  background-color: rgba(185, 213, 253, 0.6);
  border:2px solid #274684;
  border-radius: 5px;
  padding:30px;
}
.section_opacity {
  background: rgba(255, 255, 255, 0.2);
}
.section--opacity_blue {
  background: rgba(9, 41, 90, 0.6);
}
.section--offset_top_small {
  padding-top: 20px;
}
.section--offset_bot_small {
  padding-bottom: 20px;
}
.section--offset_right_small {
  padding-right: 20px;
}
.section--offset_top_normal {
  padding-top: 50px;
}
.section--offset_bot_normal {
  padding-bottom: 50px;
}
.menu > ul > li {
  list-style-type: none;
  padding-bottom: 10px;
}
.card {
  width: 100%;
  height: 700px;
  opacity: 0.8;
}
.tile {
  overflow-y: hidden;
  border: 1px solid #09295a;
  height: 200px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.tile--text {
  display: none;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  background: rgba(112, 159, 220, 0.9) no-repeat scroll;
}
.tile:hover .tile--text {
  display: block;
}
.tile--bg_gray {
  background-color: #8a8a8a;
}
.tile--bg_1 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_2 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_3 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_4 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_5 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_6 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_7 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_8 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_9 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_10 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_11 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_12 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_13 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_14 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_15 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_16 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_17 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.tile--bg_18 {
  background: url(img/unnamed.jpg) no-repeat;
  background-size: cover;
}
.inp {
  border: 1px solid #274684;
  margin-top: 30px;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 10px;
  color:#09295a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inp::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.inp::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.inp:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.inp:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.inp:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.inp:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.inp:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.inp:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.button {
  margin-top: 30px;
  background-color: #274684;
  padding: 10px;
  border:1px ;
  border-radius: 5px;
  transition: 0.2s;
  width: 300px;
  height:50px;
  cursor: pointer;
}
.button--hover:hover {
  color: white;
  background-color: #6281BF;
  transition: 0.2s;
}
.slider {
  position: relative;
}
.slider  .slick-dots {
  position: absolute;
  margin-top: -35px;
  margin-left: 46%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .slick-dots li {
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border:1px solid white;
  border-radius: 50%;
  padding-right: 5px;
  background-color:rgba(9, 41, 90, 0.3) ;
}

@media screen and (min-width: 992px) {
  .row--lg {
    display: flex;
  }
  .row--between_lg {
    display: flex;
    justify-content: space-between;
  }
  .row--center_lg {
    text-align: center;
    justify-content: center;
  }
  .row--start_lg {
    justify-content: flex-start;
  }
  .row--end_lg {
    justify-content: flex-end;
  }
  .row--item_lg {
    align-items: center;
  }
  .cell_lg {
    padding: 0;
  }
  .cell--2_lg {
    width: calc(8.33% * 2);
  }
  .cell--3_lg {
    width: calc(8.33% * 3);
  }
  .cell--4_lg {
    width: calc(8.33% * 4);
  }
  .cell--5_lg {
    width: calc(8.33% * 5);
  }
  .cell--6_lg {
    width: 50%;
  }
  .cell--7_lg {
    width: calc(8.33% * 7);
  }
  .cell--8_lg {
    width: calc(8.33% * 8);
  }
  .cell--9_lg {
    width: calc(8.33% * 9);
  }
  .cell--10_lg {
    width: calc(8.33% * 10);
  }
  .cell--11_lg {
    width: calc(8.33% * 11);
  }
  .cell--12_lg {
    width: 100%;
  }
  .cell--top_lg {
    padding-top: 60px;
  }
  .cell--left_lg {
    padding-left: 60px;
  }
  .cell--center_lg {
    text-align: center;
  }
  .menu_lg > ul > li {
    list-style-type: none;
    padding-right: 50px;
    padding-bottom: 1px;
  }
  .cell--right_lg {
    margin-right: 30px;
  }
}
